// Variables

$black-gradient: linear-gradient(135deg, rgba(44,44,44,1) 0%, rgba(31,31,31,1) 100%)
$primary-color: #911730;
$primary-color-hover: #a01834;
$sans: 'Source Sans Pro', 'Helvetica', 'Verdana', sans-serif;
$serif: 'Source Serif Pro', 'Georgia', serif;

// Mixins 

@mixin transition($to)
  transition: $to .35s ease

// General

body,
html,
#root
  height: 100%;
  overflow-x: hidden;

body
  font-family: $sans

a
  @include transition(all)

  &.text-secondary
    color: #808080 !important

    &:hover
      color: #a7a7a7 !important;

a,
a:hover
  text-decoration: none
  color: $primary-color

.btn-primary,
.bg-primary,
.text-primary
  background: $primary-color

.btn-primary:hover,
.btn-primary:active
  background: $primary-color-hover